@font-face {
    font-family: 'Azeret';
    src: url(../assets/fonts/azeret/AzeretMonoVF-1.woff2) format('woff2-variations');
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 1.5em;
    font-family: 'Azeret', serif;
    font-variation-settings: 'wght' 400;
    font-feature-settings: 'ss02', 'ss03', 'ss04', 'ss05', 'ss07', 'ss08', 'ss10', 'ss11', 'ss14', 'ss15';
    line-height: 1.5;
    background-color: black;
    color: #00ff00;
}

div {
    outline: none;
}

::selection {
    color: black;
    background: #00ff00;
}